$black: #020101;
$gray-100: #faf8f9 !default;
$gray-200: #efe9ec !default;
$gray-300: #e6dee2 !default;
$gray-400: #daced4 !default;
$gray-500: #bdadb5 !default;
$gray-600: #7d6c75 !default;
$gray-700: #574950 !default;
$gray-800: #40343a !default;
$gray-900: #292125 !default;
$white: #fffaf7;

$blue: #0D646B;
$indigo: #5D0D6B;
$purple: #490D6B;
$pink: #6B0D4A;
$red: #af3224;
$orange: #A34100;
$yellow: #A36700;
$green: #506620;
$teal: #3C9E68;
$cyan: #3C999E;

$lightest-brown: #efead8;
$lighter-brown: #CFC27B;
$light-brown: #c4ae3e;
$mid-brown: #4f3513; //#513214;
$dark-brown: #442f12; //#472d13;
$darker-brown: #332412; //#332212;
$darkest-brown: #21160b; //#23160c;
$rich-brown: #933800;
$richer-brown: #9e3900;
$richest-brown: #D66C00;

$lighter-blue: #95c3c5;
$light-blue: #338f93;
$mid-blue: #28676b;
$dark-blue: #0b5156;
$darker-blue: #073b3f;
$darkest-blue: #052d30;

$body-bg-color: #050202;

$primary: $rich-brown;
$secondary: $mid-blue;

$light: $lighter-blue;
$dark: $darker-blue;

$danger: $red;
$info: $cyan;