@import 'colours';

@media print {
  %mono {
    color: #000 !important;;
    border-color: #000 !important;
    background-color: #fff !important;;
  }

  @page {
    margin: 10mm 5mm;
  }

  body {
    line-height: .9rem !important;
  }

  // heavier font weight
  body, th, .btn, .badge {
    font-weight: 500 !important;
  }

  // larger font size
  body, .btn {
    font-size: 1.05rem !important;
  }

  h4.vehicle-label {
    font-size: 1.6rem;
  }

  body, body > .container-fluid, .main-row {
    padding: 0;
    margin: 0;
    @extend %mono;
  }

  .team-details, .vehicle {
    .card, .card-header, .card-body, .badge {
      @extend %mono;
    }
  }

  .team-details .perk-container .btn {
    @extend %mono;
  }

  .vehicle {
    break-inside: avoid;
    break-after: auto;
    table, th, td, .accordion-header, .vehicle-stats .btn, .vehicle-hull-box, .vehicle-ammo-box, .facing-button {
      @extend %mono;
    }
  }

  h4.vehicle-label {
    text-shadow: none !important;
    -moz-text-stroke-color: none !important;
    -moz-text-stroke-width: 0 !important;
    -webkit-text-stroke-color: unset !important;
    -webkit-text-stroke-width: 0 !important;
  }

  .vehicle .vehicle-card-header .stripes {
    height: calc(100% - .45rem) !important;
    top: 0 !important;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
  }

  .vehicle-stats {
    padding-top: 0 !important;
  }

  .cost-badge, .slots-badge {
    right: 1.25rem !important;
    .badge {
      font-size: 100% !important;
    }
  }

  i.fas {
    color: #000;
  }

  .btn-svg, .svg-icon, .cost-badge img, .vehicle-extras img.cans-icon {
    filter: invert(0) !important;
  }

  .vehicle-extras .btn-link, .vehicle-stats .btn {
    color: #000 !important;
  }

}